body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

nav ul li a:hover {
    color: #007bff;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px;
    font-size: 14px;
    width: 200px; /* Adjust width as needed */
    margin-right: 10px;
}

.search-container button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.user-icon img {
    height: 30px;
    cursor: pointer;
}

.main {
    width: 100%;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border: 2px solid #afb1b1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.1);
    background-color: #fff;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-box {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border: 2px solid #afb1b1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; /* Add gap for spacing */
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    padding: 8px;
    font-size: 14px;
    width: 200px; /* Adjust width as needed */
}

.days-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center; /* Alinea los elementos verticalmente */
}

.days-checkboxes input[type="text"] {
    padding: 8px;
    font-size: 14px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin-bottom: 10px; /* Añade espacio inferior */
}

.days {
    display: flex;
    align-items: center;
}

.days-checkboxes label {
    display: flex;
    align-items: center;
}

button[type="button"],
button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.results {
    margin-top: 20px;
    width: 100%;
}

.results h2 {
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

.request-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.map-container {
    text-align: center;
}

.map-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.user-info {
    margin-left: 20px;
    font-size: 16px;
    color: #333;
}

.logout-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.logout-btn:hover {
    background-color: #0056b3;
}

.user-icon {
    margin-left: auto;
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}
